@import url('https://fonts.googleapis.com/css?family=Work+Sans');
body {
  font-family: Work Sans;
  background-color: #FCFCFA;
}
.container {
  width: 85%;
  margin: auto;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.container-mini {
  width: 40%;
}
ul>li {
  font-size: 18px;
  color: #1E2D3A;
}
.blanch {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-blanch {
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #1E2D3A;
  width: 200px;
  height: 200px;
}
.icons-style {
  display: flex;
  list-style: none;
  justify-content: flex-start;
}
.icons-style li>a{
  font-size: 40px;
  letter-spacing: 15px;
}
.icons-style li>a:hover{
  font-size: 40px;
  letter-spacing: 15px;
  color: #C18EE3;
}

h2 {
  color: #5CC9F5;
  font-size: 40px;
}

h3 {
  color: #4AF2A1;
  font-size: 28px;
}

.panel-heading {
  color: #B0F566;
  text-shadow: 0.5px 0.2px #616568;
  font-size: 25px;
}
p {
  color : #293234;
  text-shadow: none;
  font-size: 20px;
}
.color-text {
  color: #F78AE0;
}
.circle,
.square {
  width: 100px;
  height: 100px;
  border: 1px solid #333;
  float: left;
  margin: 5px
}

.square {
  background-color: #eee
}

.circle {
  background-color: #4682b4;
  border-radius: 50%;
  padding: 15px
}
